/* Estilo geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #07080D;
    height: 100vh;
}

.interface {
    max-width: 1380px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

/* Cabeçalho */
header {
    padding: 40px 4%;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #CAC7D9;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav ul {
    font-size: 1.2rem;
    list-style-type: none;
}

header nav.menu-navegacao ul li {
    font-weight: 500;
    display: inline-block;
    padding: 0 40px;
}

header nav.icones ul li {
    font-size: 1.5rem;
    display: inline-block;
    padding: 0 10px;
}

header a:hover {
    color: white;
    transform: scale(1.05);
}

/* Topo Site */
section.topo-site {
    padding: 40px 4%;
}

section.topo-site .flex {
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.topo-site h1 {
    font-size: 3rem;
    color: white;
}

section.topo-site .quem-somos {
    margin: 450px 0;
}

.quem-somos h1 {
    color: white;
}

.quem-somos p {
    color: #CAC7D9;
    font-size: 1.5rem;
}

section.topo-site .games {
    margin: 330px 0;
}

.games h1 {
    color: white;
    margin-bottom: 20px;
}

.game1 {
    background-color: #CAC7D9;
    width: 270px;
    height: 400px;
}

.partners {
    margin: 330px 0;
}

.images-partners ul {
    display: flex;
    align-items: center;
}

.images-partners ul li {
    margin-top: 20px;
    margin-right: 30px;
}

/* Rodapé */
.contato h1 {
    font-size: 1.5rem;
    color: white;
}

.contato a {
    color: #CAC7D9;
    text-decoration: none;
    padding: 5px 0;
}